body {
    display: flex;
    min-height: 110vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.loader {
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
